body {
    color: rgb(184, 69, 85);
    background-color: rgb(248, 219, 219);
    font-family: "Roboto Slab";
    margin-bottom: 100px;
}

section {
    background: rgb(248, 219, 219);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

header {
    border-bottom: solid 5px rgb(211, 121, 133);
    padding: 20px;
    font-size: 32px;
    color: rgb(211, 121, 133);
}

div {
    margin-right: 20px;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

h2 {
    border-bottom: solid 2px rgb(211, 121, 133)
    padding: 10px;
    font-size: 40px;
    color: rgb(211, 121, 133);
}


/* código omitido */

.categoria-videos img {
    opacity: 0.5;
    height: 225px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 1px solid green;
}

h2 {
    color: rgb(187, 71, 86);
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
  }